@inherits UmbracoViewPage

<div class="blog-header">
    <a class="navbar-brand" href="@Url.Content("~/blog")" hreflang="sk"><img class="header-logo" src="@Url.Content("~/styles/images/dufeksoft_logo_header.png")" alt="Dufeksoft, s.r.o." /></a>
</div>
