@inherits UmbracoViewPage

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <p class="headline">O nás</p>
                <p>
                    DUFEKSOFT, s.r.o. je softvérová spoločnosť so sídlom v Čadci.
                    <br />
                    Vyvíjame prvotriedne webové stránky, eshopy, mikrostránky, blogy, aplikácie a programy na mieru.
                </p>
                <p class="socials">
                    <a class="square-icon" href="https://www.facebook.com/dufeksoft/" target="_blank" title="Facebook"><i class="fab fa-facebook fa-fw"></i></a>
                    <a class="square-icon" href="https://twitter.com/dufeksoft/" target="_blank" title="Twitter"><i class="fab fa-twitter fa-fw"></i></a>
                    <a class="square-icon" href="https://www.instagram.com/dufeksoft/" target="_blank" title="Instagram"><i class="fab fa-instagram fa-fw"></i></a>
                    <a class="square-icon" href="https://www.youtube.com/+Dufeksoft" target="_blank" title="YoutTube"><i class="fab fa-youtube fa-fw"></i></a>
                </p>
            </div><!-- /.col-md-6 -->
            <div class="col-md-3">
                <p class="headline">Kde nás nájdete</p>
                <p class="contact">
                    <span class="rounded-icon"><i class="fa fa-map-marker fa-fw"></i></span> Podzávoz 2921, Čadca<br />
                    <span class="rounded-icon"><i class="fa fa-phone fa-fw"></i></span> +421 905 231 126<br />
                    <span class="rounded-icon"><i class="fa fa-envelope fa-fw"></i></span> dufeksoft@dufeksoft.com<br />
                    <span class="rounded-icon"><i class="fa fa-sitemap fa-fw"></i></span> <a href="https://www.dufeksoft.com" hreflang="sk">www.dufeksoft.com</a><br />
                </p>
            </div><!-- /.col-md-3 -->
        </div>
    </div>
</footer>
