@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
html {
    font-family: 'Ubuntu', sans-serif;
   height: 100%;
}
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.page-body {
    min-height: 100vh;
    margin-top: 150px;
    padding: 50px;
}
p.medium {
    font-size: 26px;
}
p.big {
    font-size: 32px;
}
.new-products {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

    .new-products ul {
        list-style: none;
        padding: 0;
    }

    .new-products li {
        margin-bottom: 20px;
    }

    .new-products img {
        max-width: 100px;
        height: auto;
        display: block;
    }
h1, h2, h3, h4, h4 {
    font-family: 'Patrick Hand', cursive;
}


.header-logo {
    display: inline-block;
    float: left;
    width: 15%;
}
.header-contact {
    display: inline-block;
    width: calc(84% - 200px);
}
.header-tools {
    display: inline-block;
    float: right;
    width: 200px;
}
@media(max-width: 767px) {
    .top-bar {
        padding: 10px 0;
    }
    .header-logo {
        display: block;
        width: 100%;
    }
    .header-contact {
        display: block;
        width: 100%;
    }
    .header-tools {
        display: block;
        width: 100%;
    }
}

.header-logo {
    text-align: center;
    padding: 0;
}
.header-logo img {
    margin: auto;
    max-width: 100%;
}
@media(max-width: 767px) {
    .header-logo {
        padding: 10px 0;
    }
    .header-logo img {
        max-width: 100px;
    }
}

.header-login {
    text-align: center;
}
    .header-login a {
        color: #39956b;
        text-decoration: none;
        font-weight: bold;
        letter-spacing: -1px;
    }
.header-login a:hover {
    color: #39956b;
    text-decoration: none;
}
    .header-login .login-separator {
        display: inline-block;
        color: #39956b;
        padding: 5px;
        font-weight: bold;
    }

.header-basket {
    text-align: center;
}
    .header-basket a {
        display: block;
        margin: auto;
        margin-top: 20px;
        width: 100px;
        height: 100px;
        padding: 20px;
        border-radius: 50%;
        background-color: #39956b;
        position: relative;
    }
        .header-basket a:hover {
            background-color: #39956b;
        }
.header-basket a img {
    max-width: 100%;
}
.header-basket-pcs {
    position: absolute;
    background-color: #F11A1A;
    color: #FFF;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    font-weight: 500;
}
.fixed-menu-tool .header-basket-pcs {
    padding-top: 3px;
    top: 2px;
    font-size: 14px;
    right: 0;
    background-color: #F11A1A;
    color: #FFF;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    font-weight: 500;
}

.header-contact {
    text-align: center;
    padding-top: 30px;
}
.header-contact .contact-item {
    display: inline-block;
    margin: auto;
    padding: 0 10px;
    letter-spacing: -1px;
}
.header-contact .contact-item.item-right {
    text-align: right;
}
.header-contact .contact-item.item-left {
    text-align: left;
}
.header-contact .contact-item img {
    max-width: 40px;
}
    .header-contact .contact-item a {
        color: #39956b;
        font-weight: 500;
        padding-left: 5px;
        font-size: 16px;
    }

.header-contact .quick-links {
    text-align: center;
    margin: auto;
    width: 420px;
    height: 100px;
    padding: 0;
    border: 0;
    position: relative;
}
.header-contact .quick-links .quick-item {
    display: inline-block;
    position: absolute;
    top: 20px;
    width: 210px;
}
.header-contact .quick-links .quick-item i {
    color: #A2E35C;
    margin-right: 10px;
    display: inline-block;
    font-size: 20px;
}
.header-contact .quick-links .quick-item a {
    display: block;
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
}
.header-contact .quick-links .quick-item img {
    width: 40px;
    padding-right: 5px;
}
.header-contact .quick-links .quick-item.dark {
    left: 0;
}
.header-contact .quick-links .quick-item.light {
    left: 210px;
}
    .header-contact .quick-links .quick-item.dark a {
        background-color: #39956b;
        color: #FFF;
    }
.header-contact .quick-links .quick-item.dark a:hover {
    background-color: #39956b;
    color: #FFF;
}
    .header-contact .quick-links .quick-item.light a {
        background-color: #69dba7;
        color: #39956b;
    }
.header-contact .quick-links .quick-item.light a:hover {
    background-color: #39956b;
    color: #FFF;
}
@media(max-width: 767px) {
    .header-contact .quick-links {
        width: 100%;
    }
    .header-contact .quick-links .quick-item {
        top: 20px;
        width: 50%;
    }
    .header-contact .quick-links .quick-item.dark {
        left: 0;
    }
    .header-contact .quick-links .quick-item.light {
        left: 50%;
    }
}

.header-search {
    width: 420px;
    margin: auto;
    position: relative;
}
    .header-search .search-icon {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 50px;
        height: 40px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: #39956b;
        padding-top: 2px;
        padding-left: 5px;
    }
.header-search .search-icon:hover {
    background-color: #39956b;
}
.header-search .search-icon img {
    height: 35px;
}
.header-search .search-input {
    position: absolute;
    left: 50px;
    top: 0;
    width: 350px;
    height: 40px;
    background-color: #69dba7;
}
.header-search .search-input input {
    width: 350px;
    height: 40px;
    margin: 0;
    padding: 5px 10px;
    background-color: #69dba7;
    color: #39956b;
    border: none;
}
.header-search .search-end {
    position: absolute;
    left: 400px;
    top: 0;
    width: 20px;
    height: 40px;
    background-color: #69dba7;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
@media(max-width: 767px) {
    .header-search {
        width: 100%;
    }
    .header-search .search-input {
        width: calc(100% - 70px);
    }
    .header-search .search-input input {
        width: calc(100% - 70px);
    }
    .header-search .search-end {
        left: calc(100% - 20px);
    }
}

.header.mobile-only  .col-xs-6 {
    padding-right: 10px;
    padding-left: 10px;
}
.header.mobile-only .contact-item a {
    color: #39956b;
    font-size: 13px;
    font-weight: bold;
    padding-left: 5px;
}
.header.mobile-only .contact-item img {
    max-width: 20px;
}
.mobile-tools {
    text-align: right;
    background-color: #f9f9f9;
}
.mobile-tools .tool-item {
    position: relative;
    display: inline-block;
    padding: 10px 5px;
}
    .mobile-tools .tool-item a {
        font-size: 22px;
        color: #39956b;
        text-decoration: none;
    }
        .mobile-tools .tool-item a:hover {
            color: #c6f7e1;
            text-decoration: none;
        }
.mobile-tools .tool-item .header-basket-pcs {
    top: 3px;
    right: 0;
    width: 22px;
    height:22px;
    padding: 0;
    padding-top: 2px;
    font-size: 12px;
    text-align: center;
}

.menu-bar {
    text-align: center;
    padding: 0;
    background-color: #f9f9f9;
}
.menu-bar.navbar.navbar-default {
    border: none;
    border-radius: 0;
}
.menu-bar .nav.navbar-nav li a {
    text-shadow: none;
    font-weight:400px;
}
    .menu-bar .nav.navbar-nav li a:hover {
        color: black;
        background-color: #f9f9f9;
    }
@media(max-width: 767px) {
    .menu-bar {
        text-align: left;
    }
    .menu-bar .nav.navbar-nav {
        display: block;
        text-align: left;
    }
    .menu-bar .nav.navbar-nav li {
        padding-left: 10px;
        padding-right: 10px;
    }
    .menu-bar .nav.navbar-nav li a {
        display: block;
    }
}
.menu-bar.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.menu-bar .fixed-menu-tool {
    display: none;
}
@media(min-width: 768px) {
    .menu-bar.fixed .fixed-menu-tool {
        display: inline-block;
    }
}

.navbar {
    margin-bottom: 0;
    background-color: #f9f9f9;
}
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: sub;
    }
.navbar .navbar-collapse {
    text-align: center;
}

.menu-bar .navbar-nav .dropdown.open a:focus {
    color: black;
    background-color: #f9f9f9;
    
}
.menu-bar .dropdown-menu {
    box-shadow: none;
    border-radius: 0;
}
.menu-bar .dropdown-menu > li > a:hover,
.menu-bar .dropdown-menu > li > a:focus {
    color: #FFF !important;
    text-decoration: none;
    background-color: #5D522E !important;
}
@media(max-width: 767px) {
    .open > .dropdown-menu.desktop-only {
        display: none;
    }
    .navbar-nav li.desktop-only {
        display: none;
    }
}
@media(min-width: 768px) {
    .navbar-nav li.mobile-only {
        display: none;
    }
}

.footer {
    padding: 1rem;
    color: black;
    font-weight: 500;
    background-color: #f9f9f9;
    max-width: 100%;
}
.footer .footer-text-section {
    padding-top: 30px;
}
.footer .footer-text-section p a {
    color: #FFF;
}
.footer ul.menu {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer ul.menu li {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer ul.menu li a {
    display: block;
    color: #FFF;
    text-decoration: none;
}
.footer ul.menu li a:hover {
    color: #69dba7;
    text-decoration: none;
}
.footer .content-social a {
    color: #FFF;
    font-size: 30px;
}
.footer .content-social a:hover {
    color: #69dba7;
}
.footer .copy-bar {
    text-align: center;
    margin-top: 50px;
}
.footer .copyright {
    text-align: center;
    margin-top: 20px;
    color: #69dba7;
}
.footer .copyright a {
    text-decoration: none;
    color: #69dba7;
}
.footer .developer {
    text-align: center;
    color: #69dba7;
}
.footer .developer a {
    text-decoration: none;
    color: #69dba7;
    font-size: 14px;
}
.footer .developer a:hover {
    text-decoration: underline;
}
.footer .logo {
    text-align: center;
    margin-top: 20px;
}
.footer .logo img {
    margin: auto;
    max-width: 200px;
}
.home-stred {
    padding-top: 50px;
    margin-left:250px;
}
@media screen and (min-width: 600px) and (max-width: 768px) and (orientation: portrait) {


    .home-stred img {
        flex-direction: column; 
        padding: 10px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .home-stred img {
        flex-direction: row;
        padding: 10px;
        max-width: 100%;
    }
    .home-stred {
    margin-left:0;
    }

    .info-bar {
        background-color: #69dba7;
        color: #2E5511;
        font-weight: 500;
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

        .info-bar p {
            margin-bottom: 0;
        }

    .scrollToTop {
        padding: 10px;
        padding-top: 13px;
        width: 50px;
        height: 50px;
        text-align: center;
        border: 2px solid #FFF;
        background: #39956b;
        color: #FFF;
        text-decoration: none;
        position: fixed;
        bottom: 120px;
        right: 20px;
        display: none;
        z-index: 200;
        border-radius: 50%;
    }

        .scrollToTop:hover {
            color: #FFF;
            background: #39956b;
        }

    .home-cta .headlineuvod p {
        font-size: 8rem;
        text-align: center;
        color: white !important;
    }

    @media(max-width: 767px) {

        .home-cta p {
            font-size: 2rem;
            text-align: center;
            color: white !important;
        }


    @media(max-width: 767px) {
        .home-cta {
            padding: 20px 10px;
        }

            .home-cta h1 {
                font-size: 20px;
                font-weight: 500;
                padding-bottom: 20px;
            }
    }


    /* Message div */
    .message-div {
        padding: 0;
        padding-bottom: 100px;
        text-align: center;
    }

        .message-div h1 {
            letter-spacing: -2px;
            color: #000;
        }

        .message-div p {
            margin: auto;
            padding-top: 30px;
            font-weight: bold;
            letter-spacing: 1px;
        }

    .message-error h1, .message-error p {
        color: red;
    }

    .message-div .underline {
        text-decoration: underline;
    }

    .message-div .fa-spinner {
        font-size: 32px;
    }


    /* plantoasis form */
    .plantoasis-form .form-item {
        padding-bottom: 10px;
    }

    .plantoasis-form .form-item-hidden {
        display: none;
    }

    .plantoasis-form .form-item.right input {
        text-align: right;
    }

    .plantoasis-form .form-item label {
        padding-left: 5px;
        color: #A4A4A4;
        font-weight: normal;
        margin-bottom: 2px;
        position: relative;
    }

        .plantoasis-form .form-item label.strong {
            color: #000;
        }

        .plantoasis-form .form-item label a {
            color: #A4A4A4;
            text-decoration: underline;
        }

        .plantoasis-form .form-item label.strong a {
            color: #000;
            text-decoration: underline;
        }

        .plantoasis-form .form-item label a:hover {
            color: #39956b;
            text-decoration: underline;
        }

    .plantoasis-form .row.new-section, .row.new-section {
        margin-top: 20px;
    }

    .plantoasis-form .title {
        color: #39956b;
        font-weight: bold;
        font-size: 16px;
        padding: 30px 0;
    }

    .plantoasis-form .description {
        color: #000;
        font-size: 11px;
    }

    .plantoasis-form fieldset {
        padding: 10px 20px;
        border-radius: 0;
        border: 1px solid #7b7b7b;
    }

        .plantoasis-form fieldset legend {
            font-size: 14px;
            color: #7b7b7b;
            margin: 0;
            padding: 0;
            padding-left: 10px;
            padding-right: 10px;
            border: none;
            width: auto;
            background-color: white;
        }



    /* Erros */
    .field-validation-error {
        color: red;
    }

    .validation-summary-errors {
        color: red !important;
    }

        .validation-summary-errors ul, .validation-summary-errors ul li {
            list-style: none;
            padding-left: 0;
            margin-left: 0;
            color: red !important;
        }

    /* User logged in */
    .user-logged-in {
        padding-top: 10px;
        border-bottom: 1px solid #7E734A;
    }

        .user-logged-in a {
            display: block;
            padding: 10px;
            color: #E5D3A5;
            text-decoration: none;
            text-align: left;
        }

            .user-logged-in a:hover {
                color: #FFF;
                background-color: #39956b;
                text-decoration: none;
            }

    @media(min-width: 768px) {
        .user-logged-in {
            display: none;
            text-align: left;
        }
    }

    /* Desktop vs. mobile */
    @media(max-width: 767px) {
        .desktop-only {
            display: none;
        }
    }

    @media(min-width: 768px) {
        .mobile-only {
            display: none;
        }
    }

    .api-password-group {
        display: none;
    }


    /* Check boxes and radion buttons */
    .form-control.frame {
        padding-top: 0;
        padding-left: 5px;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

        .form-control.frame:focus {
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        .form-control.frame label {
            font-size: 14px;
            color: #232323;
        }

    input[type="radio"].styled,
    input[type="checkbox"].styled {
    }

        input[type="radio"].styled + label,
        input[type="radio"].styled + input[type=hidden] + label,
        input[type="checkbox"].styled + label,
        input[type="checkbox"].styled + input[type=hidden] + label {
            position: relative;
            padding-left: 20px;
            cursor: pointer;
        }

            input[type="radio"].styled + label:before,
            input[type="radio"].styled + input[type=hidden] + label:before,
            input[type="checkbox"].styled + label:before,
            input[type="checkbox"].styled + input[type=hidden] + label:before {
                position: absolute;
                margin: 0;
                top: 0;
                left: 0;
                width: 15px;
                height: 20px;
                padding: 0;
                border: none;
                cursor: pointer;
            }

    /* Breadcrumbs */
    .breadcrumbs {
        padding: 15px 0;
        margin-left: -15px;
        margin-right: -15px;
    }

        .breadcrumbs.align-right {
            text-align: right;
        }

        .breadcrumbs a {
            color: #39956b;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: bold;
        }

            .breadcrumbs a:hover {
                color: #000;
                text-decoration: underline;
            }

        .breadcrumbs span {
            color: #39956b;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: bold;
        }

        .breadcrumbs .separator {
            padding: 0 10px;
        }

            .breadcrumbs .separator img {
                max-height: 20px;
            }

    /* Hidden web */
    .hidden-web {
        position: fixed;
        z-index: 1000;
        width: 100%;
        height: 100%;
        background-color: #E5D3A5;
        top: 0;
        left: 0;
        text-align: center;
        padding: 50px;
    }

        .hidden-web .message-div img {
            margin: auto;
        }

    /* Cookies */
    .cookies-div {
        display: none;
        background-color: #262626;
        color: #FFF;
        padding: 20px;
        position: fixed;
        right: 50px;
        width: 400px;
        z-index: 1000;
    }

        .cookies-div .cookies-close {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #000;
            padding: 5px 0;
            position: absolute;
            right: -12px;
            top: -12px;
            padding-left: 5px;
            padding-top: 5px;
            cursor: pointer;
        }

            .cookies-div .cookies-close img {
                display: block;
            }

        .cookies-div p {
            padding-bottom: 15px;
            color: #FFF;
            font-size: 14px;
            font-weight: normal;
        }

    .cookies-ok {
        color: #FFF;
        background-color: #8FBE3E;
        border: 2px solid #8FBE3E;
        font-weight: bold;
        padding: 10px 15px;
        float: left;
        text-decoration: none;
    }

        .cookies-ok:hover {
            color: #FFF;
            border-color: #FFF;
            text-decoration: none;
        }

    .cookies-cancel {
        color: #FFF;
        background-color: #FE0000;
        border: 2px solid #FE0000;
        font-weight: bold;
        padding: 10px 15px;
        float: right;
        text-decoration: none;
    }

        .cookies-cancel:hover {
            color: #FFF;
            border-color: #FFF;
            text-decoration: none;
        }

    .privacy-links {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        padding-top: 30px;
    }

        .privacy-links a {
            color: #FFF;
            text-decoration: underline;
            white-space: nowrap;
            font-size: 13px;
        }

            .privacy-links a:hover {
                color: #DDD;
                text-decoration: underline;
            }

    @media (min-width: 768px) {
        .cookies-div {
            bottom: 0;
        }
    }

    @media (max-width: 767px) {
        .cookies-div {
            top: 20px;
            right: 20px;
            width: calc(100% - 40px);
        }
    }

    .contact-form {
        margin-bottom: 30px;
    }

    .registration-advantages {
        margin-bottom: 30px;
    }

    /* Trade rules */
    .trade-rules a {
        color: #000;
        text-decoration: underline;
    }

        .trade-rules a:hover {
            color: #39956b;
            text-decoration: underline;
        }

    /* Mobile submenu */
    .mobile-submenu {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .mobile-submenu li {
            list-style: none;
            padding: 0;
            margin: 0;
        }

            .mobile-submenu li a {
                text-decoration: none;
                padding: 5px 20px;
            }

    .nav > li > a.mobile-submenu-caret {
        position: absolute;
        width: 50px;
        right: 10px;
        top: 0;
        z-index: 100;
    }

    @media(min-width: 768px) {
        .nav > li > a.mobile-submenu-caret {
            display: none;
        }
    }

    /* Image */
    .img-responsive img, img.img-responsive {
        max-width: 100%;
    }

    /* Slider */
    .slider {
        position: relative;
        overflow: hidden;
        margin: 20px auto 0 auto;
    }

        .slider ul {
            position: relative;
            margin: 0;
            padding: 0;
            list-style: none;
            display: block;
        }

            .slider ul li {
                position: relative;
                display: block;
                float: left;
                margin: 0;
                padding: 0;
                text-align: center;
            }

        .slider a.control_prev, .slider a.control_next {
            position: absolute;
            top: 40%;
            z-index: 999;
            display: block;
            padding: 4% 3%;
            width: auto;
            height: auto;
            color: #000;
            text-decoration: none;
            font-weight: 600;
            font-size: 30px;
            cursor: pointer;
        }

            .slider a.control_prev:hover, .slider a.control_next:hover {
                background: rgba(0, 0, 0, 0.3);
            }

        .slider a.control_prev {
            border-radius: 0 2px 2px 0;
        }

        .slider a.control_next {
            right: 0;
            border-radius: 2px 0 0 2px;
        }
